body {
    margin-top: 110px;
}

.banner{
    /*height: 500px;*/
}

.container {
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.card {
    margin: 50px;
}

.row>* {
    padding-right: 0px;
    padding-left: 0px;
}

.seccion-2 {
    background-color: #5085BA;
}

.seccion-2 .col {
    margin: 80px;
    color: #fff;
    text-align: left;
}

.footer {
    background-color: #1B4570;
    color: #fff;
}